.timer {
    margin-top: 200px;
  }
  .timerCircle {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 200px;
    margin-top: 200px;
  }
  .countdown-svg {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 200px;
  }
  
  .path2 {
    position: absolute;
  }
  .timeDisplay {
    position: relative;
    height: 200px;
  }
  .timerNumbers {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 33%;
    left: 47.5%;
    font-family: lato;
    font-size: 30px;
  }