  .timer {
    flex-direction: column;
    width: 40%;
  }
  .taskLog {
    width: 30%;
    display: flex;
    justify-content: flex-start;
  }
  .taskLogBox {
    width: 80%;
    padding: 15px 15px;
    border: 2px #cccccc solid;
    box-shadow: 10px 10px#ffbcaf;
  }
  .taskList {
    width: 100%;
    text-align: left;
  }
  .taskName {
    width: 80%;
  }
  .taskDelete {
    width: 20%;
  }
  .emptyMainSection {
    width: 30%;
  }
  .timerTypes {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    justify-items: center;
    flex-direction: row;
    align-items: center;
    align-content: center;
  }
  .MuiButton-outlined {
    margin-right: 5px !important;
    margin-left: 5px !important;
  }
  
  .homeDisplay {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    /* align-content: center; */
  }
  
  .timerCircle {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 450px;
  }
  .countdown-svg {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 450px;
    width: 450px;
  }
  
  .path2 {
    position: absolute;
  }

  .timeDisplay {
    position: relative;
    height: 450px;
  }

  .timerNumbers {
    margin: 0;
    padding: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    font-family: 'Noto Sans HK', sans-serif;
    /* font-family: lato; */
    color:#519657;
    font-size: 45px;
  }

 