  .timer {
      margin-top: 200px;
    }

  .timerTypes {
    margin-top: 200px;
  }
  
  .timerCircle {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 200px;
  }
  .countdown-svg {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 200px;
  }
  
  .path2 {
    position: absolute;
  }
  .timeDisplay {
    position: relative;
    height: 200px;
  }
  .timerNumbers {
    margin: 0;
    padding: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    font-family: lato;
    font-size: 30px;
  }