  .timer {
    flex-direction: column;
  }
  .timerTypes {
    margin-top: 50px;
    display: flex;
    /* right: 0;
    left: 0; */
    justify-content: center;
    justify-items: center;
    flex-direction: row;
    align-items: center;
    align-content: center;
  }
  .MuiButton-outlined {
    margin-right: 5px !important;
    margin-left: 5px !important;
  }
  
  .timerCircle {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 450px;
  }
  .countdown-svg {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 450px;
    width: 450px;
  }
  
  .path2 {
    position: absolute;
  }
  .timeDisplay {
    position: relative;
    height: 450px;
  }
  .timerNumbers {
    margin: 0;
    padding: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: lato;
    font-size: 45px;
  }